---
- name: Install Vim editor
  hosts: eatlng
  tasks:
    - name: Install git
      become: true # This is required to gain root privileges for package installation
      ansible.builtin.package:
        name: git
        state: present
    - name: Ensure Vim is installed
      become: true # This is required to gain root privileges for package installation
      ansible.builtin.package:
        name: vim
        state: present # Set to 'yes' if you need root privileges (e.g., copying to /root/)
    - name: Ensure .vimrc config in place for the current user  Copy .vimrc file to target hosts
      become: no
      ansible.builtin.copy:
         src: vimrc
         dest: "{{ ansible_env.HOME }}/.vimrc"
         backup: yes
         mode: '0644' # Sets file permissions to rw-r--r--
    - name: Create the target directory
      ansible.builtin.file:
        path: ~/.vim/autoload # The directory to create
        state: directory           # Ensures it's a directory
        mode: '0755'               # Permissions (read/write/exec for owner, read/exec for others)
        recurse: yes               # Creates parent directories if needed (e.g., /opt/my_app)
    - name: Download a file into the directory
      ansible.builtin.get_url:
        url: https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim # URL of the file to download
        dest: ~/.vim/autoload/plug.vim    # Destination path on the remote server
        mode: '0644'
    - name: Install plugins remotely
      ansible.builtin.command: 'vim -es -u ~/.vimrc -i NONE -c "PlugInstall" -c "qa"'
      register: command_output
